.aside{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--body-color);
    border-right: 1px solid rgba(242, 238, 238, 0.954);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}   

.nav__link{
  font-size: 1.8rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: .3s;

}
.nav__link:hover{
    color: var(--first-color);
}

.copyright{
    font-size: var(--small-font-size);
    color: hsl(245, 15%, 65%);
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
}